# Project files
**/CMakeFiles
**/CMakeCache.txt
**/cmake_install.cmake
**/compile_commands.json
**/.DS_Store
**/Makefile
**/.ccls*
**/*~
**/.idea
**/*.cbp

#Other files
**/*.xml
**/tags

**/.vscode
**/cmake-build-debug
